$first-color: #ecdfc9;
$second-color: #4b1f07;
$second-background: rgba(75, 31, 7, 0.9);
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$block-border: 5px solid rgba(75, 31, 7, 0.9);
$block-border-radius: 10px;
// $main-gradient: linear-gradient(0deg, rgba(173,130,107,1) 0%, rgba(236,223,201,1) 50%);
