.formErrors {
    height: 20px;
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formError__img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

.formError__text {
    color: #C90000;
    font-size: 14px;
}