@import "../../../assets/scss/variables";
.MyButton {
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  box-shadow: $box-shadow;
  background-color: #ecdfc9;
  color: #4b1f07;
  cursor: pointer;

  position: relative;
  z-index: 3;

  transition: background-color 0.3s, color 0.3s;
  &:hover,
  &:focus,
  &:active {
    background-color: #4b1f07;
    color: #ecdfc9;
  }

  &:disabled {
    background-color: gray;
    color: black;
  }
}
